<!DOCTYPE html>
<html lang="en">
	<head>
		<meta Content-Type= "text/html" charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>Olive Oil</title>
		<link rel="stylesheet" href="https://tracechaintemplates.s3.ap-south-1.amazonaws.com/60d166558b826e30249c1bcc/Premium/main.css" />
		<link rel="icon" href="images/favicon.png" />

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>

	<body>
		<nav class="navbar">
			<a class="navbar-brand" href="#">
				<img src="https://tracechaintemplates.s3.ap-south-1.amazonaws.com/60d166558b826e30249c1bcc/Premium/assets/header-logo.png"  class="d-inline-block align-top header-logo" alt="">
			</a>
			<span class="navbar-text">
				<a href="https://www.facebook.com/olejolivovy.sk/" target="_blank"><img class="social-media" src="https://tracechaintemplates.s3.ap-south-1.amazonaws.com/60d166558b826e30249c1bcc/Premium/assets/Icon awesome-facebook-square.svg" alt="facebook"></a>
				<a href="https://www.instagram.com/p/CNpzr1SIOPq/" target="_blank"><img class="social-media" src="https://tracechaintemplates.s3.ap-south-1.amazonaws.com/60d166558b826e30249c1bcc/Premium/assets/Icon awesome-instagram.svg" alt="instagram"></a>
				<a href="mailto:info@olejolivovy.sk" target="_blank"><img class="social-media" src="https://tracechaintemplates.s3.ap-south-1.amazonaws.com/60d166558b826e30249c1bcc/Premium/assets/Icon simple-gmail.svg" alt="gmail"></a>
				<a href="https://www.olejolivovy.sk/" target="_blank"><img class="social-media" src="https://tracechaintemplates.s3.ap-south-1.amazonaws.com/60d166558b826e30249c1bcc/Premium/assets/Icon awesome-link.svg" alt="link"></a>
			</span>
		</nav>
		
		<section id="intro">
			<div class="row">
				<div class="col-lg-6" style="margin: 0 auto;padding: 15px;">
				<div class="row">
					<div class="col-lg-9" style="padding: 0px 30px;">
						<!-- fields		 -->
						<!-- <p class="intro-text-one">moduleCode_@_transactionCode_@_organizationName[0]</p>  -->
						<!-- <p>Production Details</p> -->
						<p class="intro-text-two"> Olive oil - FG10168</p> 
						<p class="intro-text-two">moduleCode_@_transactionCode_@_Product_@_Description[5]</p>
						<p class="intro-text-two"> Olive Oil Spain - Madrid</p> 
						<p class="intro-text-two"> Manufacturing Date - 8/18/2021</p>	
						<p class="intro-text-two"> Expiry Date - 8/25/2021</p>	
						
						<!-- <p>Ingredient Details</p>
						<p class="intro-text-two">Pineapple - RM10091</p> 
						<p class="intro-text-two">Pineapple Product ID 01</p> 
						<p class="intro-text-two">Olive Oil Spain - Madrid</p> 
						<p class="intro-text-two">8/10/2021, 10:45:25 AM</p> 				
						<p class="intro-text-two">8/24/2021, 12:00:00 AM</p> 	 -->

						<!-- <p class="intro-text-one">200</p>  -->
						
						<!-- <p class="intro-text-two">Olive juice extracted from picuda, picual and hojiblanca varieties</p> -->
						<p class="intro-text-three">Priego de Cordoba, Andalusia, Produced in December 2020</p>
					</div>
					<div class="col-lg-3" style="flex-grow: 0;">
						<!-- <img src="https://snapchaintemplates.s3.ap-south-1.amazonaws.com/oliveoil/https://tracechaintemplates.s3.ap-south-1.amazonaws.com/60d166558b826e30249c1bcc/Premium/assets/oliveoil.png" alt="oliveoil"> -->
						<img src="https://tracechaintemplates.s3.ap-south-1.amazonaws.com/60d166558b826e30249c1bcc/Premium/assets/oliveoil_bottles.png" alt="oliveoil" style="width: 90px;">
					</div>
				</div>
			</div>
			</div>
		</section>

		<section id="tag-line">
			<p class="tag" style="margin-bottom: 0px;">Flavour and Health combined in the best product</p>
		</section>

		<section id="proof-points">
			<!-- <p class="proof-points-title">Olive Oil Proof Points</p> -->
			<div class="row proof-points-row" style="background-color: #fff;padding: 15px;">
				<img src="https://tracechaintemplates.s3.ap-south-1.amazonaws.com/60d166558b826e30249c1bcc/Premium/assets/aloe_cert1.png" alt="" style="height: 85px;">
				<img src="https://tracechaintemplates.s3.ap-south-1.amazonaws.com/60d166558b826e30249c1bcc/Premium/assets/bio_cert.png" alt="" style="height: 85px;margin-left: 15px;">
				<!-- <div class="rect" id="extra-virgin">
					<img class="rect-image" src="https://snapchaintemplates.s3.ap-south-1.amazonaws.com/oliveoil/https://tracechaintemplates.s3.ap-south-1.amazonaws.com/60d166558b826e30249c1bcc/Premium/assets/no-preservatives.svg" alt="no-preservatives">
					<p class="rect-text">Extra Virgin</p>
				</div>
				<div class="rect" id="organic">
					<img class="rect-image" src="https://snapchaintemplates.s3.ap-south-1.amazonaws.com/oliveoil/https://tracechaintemplates.s3.ap-south-1.amazonaws.com/60d166558b826e30249c1bcc/Premium/assets/eco.svg" alt="organic">
					<p class="rect-text">Organic</p>
				</div>
				<div class="rect" id="ecological">
					<img class="rect-image" src="https://snapchaintemplates.s3.ap-south-1.amazonaws.com/oliveoil/https://tracechaintemplates.s3.ap-south-1.amazonaws.com/60d166558b826e30249c1bcc/Premium/assets/planet-earth.svg" alt="ecological">
					<p class="rect-text">Ecological</p>
				</div>
				<div class="rect" id="certified">
					<img class="rect-image" src="https://snapchaintemplates.s3.ap-south-1.amazonaws.com/oliveoil/https://tracechaintemplates.s3.ap-south-1.amazonaws.com/60d166558b826e30249c1bcc/Premium/assets/vegan-certified.svg" alt="certified">
					<p class="rect-text">Certified</p>
				</div> -->
			</div>
		</section>
		
		<section id="location">
			<p class="journey">Product Journey</p>
			<p class="travel">See the travel to your destination</p>
		</section>

		<div class="row">
			<div class="col-lg-6" style="margin: 0 auto;">
				<img style="width:100%" src="https://tracechaintemplates.s3.ap-south-1.amazonaws.com/60d166558b826e30249c1bcc/Premium/assets/map-location.png" alt="map">
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6" style="margin: 0 auto;">
				<section id="info">
					<div class="line" style="margin-bottom: 30px;"></div>
					<div style="width: 100%;">
						<div id="Ingradient" class="info-boxes">
							<div class="circle"></div>
							<div class="sourcing-info box arrow-left">
								<div class="head">
									<p class="box-title">Ingredient Details</p>
								</div>
								<div class="info-box">
									<hr>
									<div class="row details_row">
										<div class="col-lg-6 product_lbl">Input asset name</div>
										<div class="col-lg-6 text-right product_desc">Olives - RM10105</div>
									</div>
									<div class="row details_row">
										<div class="col-lg-6 product_lbl">Product description</div>
										<div class="col-lg-6 text-right product_desc">moduleCode_@_transactionCode_@_Product_@_Description[9]</div>
									</div>
									<div class="row details_row">
										<div class="col-lg-6 product_lbl">Grade, Cultivation method</div>
										<div class="col-lg-6 text-right product_desc">moduleCode_@_transactionCode_@_Grade[9] , moduleCode_@_transactionCode_@_Cultivation_@_Method[9]</div>
									</div>
									<div class="row details_row">
										<div class="col-lg-6 product_lbl">Entity name, Location</div>
										<div class="col-lg-6 text-right product_desc">Spain Farmer - Madrid</div>
									</div>
									<div class="row details_row">
										<div class="col-lg-6 product_lbl">Produced date</div>
										<div class="col-lg-6 text-right product_desc">8/18/2021</div>
									</div>
									<div class="row details_row">
										<div class="col-lg-6 product_lbl">Expiry date</div>
										<div class="col-lg-6 text-right product_desc">8/19/2021</div>
									</div>
								</div>
							</div>
						</div>
						<div id="sourcing" class="info-boxes">
							<div class="circle"></div>
							<div class="sourcing-info box arrow-left">
								<div class="head">
									<p class="box-title">Sourcing</p>
									<!-- <button class="source-btn arrow-button"><i class="fas fa-angle-down"></i></button> -->
								</div>
								<div class="info-box">
									<hr>
									<div class="row details_row">
										<div class="col-lg-6 product_lbl">Date/Time</div>
										<div class="col-lg-6 text-right product_desc">Invalid Date - Invalid Date</div>
									</div>
									<div class="row details_row">
										<div class="col-lg-6 product_lbl">Inspection remarks</div>
										<div class="col-lg-6 text-right product_desc">moduleCode_@_transactionCode_@_Inspection_@_Remarks[7]</div>
									</div>
									<div class="row details_row">
										<div class="col-lg-6 product_lbl">Entity name, Location</div>
										<div class="col-lg-6 text-right product_desc">Olive Oil Spain - Madrid</div>
									</div>
									<!-- <div class="row details_row">
										<div class="col-lg-6 product_lbl">Blockchain transaction</div>
										<div class="col-lg-6 text-right product_desc">
											<button id="location-button" class="new_btn_view" disabled>View</button>
										</div>
									</div> -->
									<!-- <button id="location-button" class="info-buttons location active" disabled>Location</button>
									<button id="location-history-button" class="info-buttons location-history">Location History</button>
									<div id="info-location">
										<p class="info-text">Sourced directly from the heart of “Sierras Subbéticas Natural Park”, Priego de Cordoba in Andalusia, Spain</p>
										<p class="intro-text-two">Pineapple - RM10091</p> 
										<p class="intro-text-two">Pineapple Product ID 01</p> 
										<p class="intro-text-two">Olive Oil Spain - Madrid</p> 
										 
										<img style="width:100%" src="https://snapchaintemplates.s3.ap-south-1.amazonaws.com/oliveoil/https://tracechaintemplates.s3.ap-south-1.amazonaws.com/60d166558b826e30249c1bcc/Premium/assets/map-location.png" alt="map">
										<p class="info-text">Location: Donlope Servicios Generales, C/ Llana Nº 5 , El Cañuelo. Priego de Córdoba 14815, Spain</p>
									</div>
									<div id="info-location-history">
										<p class="info-text">Andalusia's geography and climate, gifted with mountain wealthy slopes, mild winters and long and hot dry summers, rank as the best for olive cultivation. Olives from this region are destined exclusively for olive oil production. </br></br>
										This region is located in the geographical heart of the “Sierras Subbéticas Natural Park”, which has its own microclimate, characterized by suitable rainfall and substantial temperature differences between seasons. It can drop to around 0º C (32º F) in winter and rise to 35º C (95º F) in warm western Mediterranean summer.</p>
										
									</div> -->
								</div>
							</div>
						</div>
						<div id="production" class="info-boxes">
							<div class="circle"></div>
							<div class="production-info box arrow-left">
								<div class="head">
									<p class="box-title">Distribution</p>
									<!-- <button class="production-btn arrow-button"><i class="fas fa-angle-down"></i></button> -->
								</div>
								<div class="info-box">
									<hr>
									<div class="row details_row">
										<div class="col-lg-6 product_lbl">Date/Time</div>
										<div class="col-lg-6 text-right product_desc">Invalid Date - Invalid Date</div>
									</div>
									<div class="row details_row">
										<div class="col-lg-6 product_lbl">Grade, Ingredients, Nutrients</div>
										<div class="col-lg-6 text-right product_desc">moduleCode_@_transactionCode_@_Ingredients[3] </div>
									</div>
									<div class="row details_row">
										<div class="col-lg-6 product_lbl">Entity name, Location</div>
										<div class="col-lg-6 text-right product_desc">Olive Line - </div>
									</div>
									<!-- <button id="processing-button" class="info-buttons processing active" disabled>Processing</button>
									<button id="production-process-button" class="info-buttons production-process">Production Proccess</button>
									<div id="info-processing">
										<p class="info-text">GRUPO DON LOPE only elaborates extra virgin olive oil obtained from the fruit of olive trees of varieties Picudo, Hojiblanco and Picual, cold extracted and processed by mechanical means that cause no alteration in the oil, retaining the flavour, aroma and characteristics of the olives from which it is obtained. <br><br>Production goes through the following stages</p>
										<p class="intro-text-two">8/10/2021, 10:59:43 AM</p> 				
										<p class="intro-text-two">Olive Line - Madrid</p> 
										<div class="stages">
											<p class="stages-text">Harvest</p>
											<div class="yellow-line"></div>
											<p class="stages-text">Transport</p>
											<div class="yellow-line"></div>
											<p class="stages-text">Pressing</p>
											<div class="yellow-line"></div>
											<p class="stages-text">Storage</p>
											<div class="yellow-line"></div>
											<p class="stages-text">Packing</p>
										</div>
										<a class="read-more" id="read-more-one" href="" onclick="return false">Read More...</a>
										<img src="https://snapchaintemplates.s3.ap-south-1.amazonaws.com/oliveoil/https://tracechaintemplates.s3.ap-south-1.amazonaws.com/60d166558b826e30249c1bcc/Premium/assets/production-image.png" class="production-image" id="production-image" alt="production">
									</div>
									<div id="info-production-process">
										<p class="info-text">The olives are gathered from chosen branches of the trees through traditional hand pole beating and mechanised vibration, all the production is bottled and packaged in the same mill.</p>
										 
										<a class="read-more" id="read-more-two" href="" onclick="return false;">Read More...</a>
										<img class="production-process-image"
										id="production-process-image" src="https://snapchaintemplates.s3.ap-south-1.amazonaws.com/oliveoil/https://tracechaintemplates.s3.ap-south-1.amazonaws.com/60d166558b826e30249c1bcc/Premium/assets/production-process.png" alt="productoin-process">
									</div> -->
								</div>
							</div>
						</div>
						<div id="quality" class="info-boxes">
							<div class="circle"></div>
							<div class="quality-info box arrow-left">
								<div class="head">
									<p class="box-title">Retailer</p>
									<!-- <button class="quality-btn arrow-button"><i class="fas fa-angle-down"></i></button> -->
								</div>
								<div class="info-box">
									<hr>									
									<div class="row details_row">
										<div class="col-lg-6 product_lbl">Date/Time</div>
										<div class="col-lg-6 text-right product_desc">Invalid Date - Invalid Date</div>
									</div>
									<div class="row details_row">
										<div class="col-lg-6 product_lbl">Entity name, Location</div>
										<div class="col-lg-6 text-right product_desc">ILOVEACEITE - </div>
									</div>
									<!-- <button id="organic-production-button" class="info-buttons organic-production active" disabled>Organinc Production</button>
									<button id="analytical-data-button" class="info-buttons analytical-data">Analytical Data</button>
									<button id="certified-quality-button" class="info-buttons certified-quality">Certified Quality</button> -->
									<!-- <div id="info-organic-production">
										<p class="info-text">Produced under the Organic Agriculture certificate using exclusively organic fertilizers and minimum tillage to respect, to the maximum, the flora and fauna of the tree's soil and the Environment. <br><br>
										100% Organic Extra Virgin Olive Oil (Olive Juice) with CAAE ECOLOGICAL CERTIFICATE and ES-ECO-001-AN EU AGRICULTURE seal</p>
										
										<img src="https://snapchaintemplates.s3.ap-south-1.amazonaws.com/oliveoil/https://tracechaintemplates.s3.ap-south-1.amazonaws.com/60d166558b826e30249c1bcc/Premium/assets/certified.png" style="width:100%" alt="certified">
									</div>
									<div id="info-analytical-data">
										<p class="info-text">Acidity is the basic and simplest indicator of the quality of virgin olive oil. Don Lope Olive oil has a top value in this quality parameter 0.2%. 
										Virgin olive oils must not exceed an acidity value of 2%. The limit for extra virgin olive oils is 0.8%
										</p>
										<ul class="info-text">
											Technical data:
											<li class="info-text">Acidity: Under 0,4%</li>
											<li class="info-text">Peroxide index: 3,25 /o2</li>
											<li class="info-text">K232: 1,66</li>
											<li class="info-text">K270: 0,13</li>
										</ul>
										<a class="read-more" id="read-more-three" href="" onclick="return false;">Read More...</a>
										<img  id="analytical-data-image" src="https://snapchaintemplates.s3.ap-south-1.amazonaws.com/oliveoil/https://tracechaintemplates.s3.ap-south-1.amazonaws.com/60d166558b826e30249c1bcc/Premium/assets/analytical-data.png" style="width: 100%;" alt="analytical-data">
									</div> -->
									<div id="info-certified-quality" >
										<p class="info-text" style="font-size: 12px;;">Quality certified by an independent laboratory for reference.
										</p>
										
										<img  id="certified-by-lab-image" src="https://tracechaintemplates.s3.ap-south-1.amazonaws.com/60d166558b826e30249c1bcc/Premium/assets/certified-by-lab.png" style="width: 100%;" alt="certified-by-lab">
									</div>
								</div>
							</div>
						</div>
						<!-- <div id="transparency" class="info-boxes">
							<div class="circle"></div>
							<div class="transparency-info box arrow-left">
								<div class="head">
									<p class="box-title">Transparency</p>
								</div>
								<div class="info-box">
									<hr>
									<button id="transparency-button" class="info-buttons transparency active" disabled>Transparency</button>
									<button id="eu-comparison-button" class="info-buttons eu-comparison">EU Comparison</button>
									<div id="info-transparency">
										<p class="info-text">100% Extra virgin olive oil from the mill, which is where it was produced and shipped to you directly without any middlemen. Certified packaging & quality - Spain to Slovakia. <br><br> Fully transparent information shared on the entire process from the olive tree to the table; therefore, we share the Chemical Analysis Bulletin with an informative tasting carried out by an independent laboratory, where its quality and production process are certified.</p>
										<p class="intro-text-two">8/10/2021, 10:59:43 AM</p> 				
										<p class="intro-text-two">ILOVEACEITE - Madrid</p>
										<a class="read-more" id="read-more-four" href="" onclick="return false;">Read More...</a>
										<img src="https://snapchaintemplates.s3.ap-south-1.amazonaws.com/oliveoil/https://tracechaintemplates.s3.ap-south-1.amazonaws.com/60d166558b826e30249c1bcc/Premium/assets/transparency.png" id="transparency-image" class="transparency-image" alt="">
									</div>
									<div id="info-eu-comparison">
										  
										<p class="info-text">Refer below to 2021 Harvesting information of Don Lope compared to EU standards.</p>
										<img src="https://snapchaintemplates.s3.ap-south-1.amazonaws.com/oliveoil/https://tracechaintemplates.s3.ap-south-1.amazonaws.com/60d166558b826e30249c1bcc/Premium/assets/eustandards.png" id="eustandards-image" style="width: 100%;" alt="">
									</div>
								</div>
							</div>
						</div> -->
					</div>
				</section>
			</div>
		</div>

		<section id="footer">
			<img class="footer-image" src="https://snapchaintemplates.s3.ap-south-1.amazonaws.com/oliveoil/https://tracechaintemplates.s3.ap-south-1.amazonaws.com/60d166558b826e30249c1bcc/Premium/assets/footer.png" alt="">
			<p class="copyright">Copyright 2021 All Rights Reserved</p>
		</section>

		<script src="https://snapchaintemplates.s3.ap-south-1.amazonaws.com/oliveoil/https://tracechaintemplates.s3.ap-south-1.amazonaws.com/60d166558b826e30249c1bcc/Premium/main.js"></script>
	</body>
</html>