<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>Olive Oil</title>
		<link rel="stylesheet" href="main.css" />
		<link rel="icon" href="images/favicon.png" />

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>

	<body>
		<nav class="navbar">
			<a class="navbar-brand" href="#">
				<img src="assets/header-logo.png"  class="d-inline-block align-top header-logo" alt="">
			</a>
			<span class="navbar-text">
				<a href="https://www.facebook.com/olejolivovy.sk/" target="_blank"><img class="social-media" src="assets/Icon awesome-facebook-square.svg" alt="facebook"></a>
				<a href="https://www.instagram.com/p/CNpzr1SIOPq/" target="_blank"><img class="social-media" src="assets/Icon awesome-instagram.svg" alt="instagram"></a>
				<a href="mailto:info@olejolivovy.sk" target="_blank"><img class="social-media" src="assets/Icon simple-gmail.svg" alt="gmail"></a>
				<a href="https://www.olejolivovy.sk/" target="_blank"><img class="social-media" src="assets/Icon awesome-link.svg" alt="link"></a>
			</span>
		</nav>
		
		<section id="intro">
			<div class="row">
				<div class="intro-text">
					<p class="intro-text-one">Dynamic1.ProductID</p>
					<p class="intro-text-one">Dynamic2.ProductID</p>
					<p class="intro-text-one">Dynamic3.ProductID</p>


					<p class="intro-text-one">Dynamic1.ProductName</p> 
					<p class="intro-text-one">Dynamic2.ProductName</p>
					<p class="intro-text-one">Dynamic3.ProductName</p>

					<p class="intro-text-one">Dynamic1.courseCode</p>
					<p class="intro-text-one">Dynamic2.courseCode</p>
					<p class="intro-text-one">Dynamic3.courseCode</p>
					<p class="intro-text-two">Olive juice extracted from picuda, picual and hojiblanca varieties</p>
					<p class="intro-text-three">Priego de Cordoba, Andalusia, Produced in December 2020</p>
				</div>
				<div class="col oliveoil">
					<img src="assets/oliveoil.png" alt="oliveoil">
				</div>
			</div>
		</section>

		<section id="tag-line">
			<p class="tag">Flavour and Health combined in the best product</p>
		</section>

		<section id="proof-points">
			<p class="proof-points-title">Olive Oil Proof Points</p>
			<div class="row proof-points-row">
				<div class="rect" id="extra-virgin">
					<img class="rect-image" src="assets/no-preservatives.svg" alt="no-preservatives">
					<p class="rect-text">Extra Virgin</p>
				</div>
				<div class="rect" id="organic">
					<img class="rect-image" src="assets/eco.svg" alt="organic">
					<p class="rect-text">Organic</p>
				</div>
				<div class="rect" id="ecological">
					<img class="rect-image" src="assets/planet-earth.svg" alt="ecological">
					<p class="rect-text">Ecological</p>
				</div>
				<div class="rect" id="certified">
					<img class="rect-image" src="assets/vegan-certified.svg" alt="certified">
					<p class="rect-text">Certified</p>
				</div>
			</div>
		</section>
		
		<section id="location">
			<p class="journey">Product Journey</p>
			<p class="travel">See the travel to your destination</p>
			maplocation
		</section>

		<section id="info">
			<div class="line"></div>
			<div>
				<div id="sourcing" class="info-boxes">
					<div class="circle"></div>
					<div class="sourcing-info box arrow-left">
						<div class="head">
							<p class="box-title">Sourcing</p>
							<button class="source-btn arrow-button"><i class="fas fa-angle-down"></i></button>
						</div>
						<div class="info-box" id="one">
							<hr>
							<button id="location-button" class="info-buttons location active" disabled>Location</button>
							<button id="location-history-button" class="info-buttons location-history">Location History</button>
							<div id="info-location">
								<p class="info-text">Sourced directly from the heart of “Sierras Subbéticas Natural Park”, Priego de Cordoba in Andalusia, Spain</p>
								<img style="width:100%" src="assets/map-location.png" alt="map">
								<p class="info-text">Location: Donlope Servicios Generales, C/ Llana Nº 5 , El Cañuelo. Priego de Córdoba 14815, Spain</p>
							</div>
							<div id="info-location-history">
								<p class="info-text">Andalusia's geography and climate, gifted with mountain wealthy slopes, mild winters and long and hot dry summers, rank as the best for olive cultivation. Olives from this region are destined exclusively for olive oil production. </br></br>
								This region is located in the geographical heart of the “Sierras Subbéticas Natural Park”, which has its own microclimate, characterized by suitable rainfall and substantial temperature differences between seasons. It can drop to around 0º C (32º F) in winter and rise to 35º C (95º F) in warm western Mediterranean summer.</p>
							</div>
						</div>
					</div>
				</div>
				<div id="production" class="info-boxes">
					<div class="circle"></div>
					<div class="production-info box arrow-left">
						<div class="head">
							<p class="box-title">Production</p>
							<button class="production-btn arrow-button"><i class="fas fa-angle-down"></i></button>
						</div>
						<div class="info-box" style="display: none;" id="two">
							<hr>
							<button id="processing-button" class="info-buttons processing active" disabled>Processing</button>
							<button id="production-process-button" class="info-buttons production-process">Production Proccess</button>
							<div id="info-processing">
								<p class="info-text">GRUPO DON LOPE only elaborates extra virgin olive oil obtained from the fruit of olive trees of varieties Picudo, Hojiblanco and Picual, cold extracted and processed by mechanical means that cause no alteration in the oil, retaining the flavour, aroma and characteristics of the olives from which it is obtained. <br><br>Production goes through the following stages</p>
								<div class="stages">
									<p class="stages-text">Harvest</p>
									<div class="yellow-line"></div>
									<p class="stages-text">Transport</p>
									<div class="yellow-line"></div>
									<p class="stages-text">Pressing</p>
									<div class="yellow-line"></div>
									<p class="stages-text">Storage</p>
									<div class="yellow-line"></div>
									<p class="stages-text">Packing</p>
								</div>
								<a class="read-more" id="read-more-one" href="" onclick="return false">Read More...</a>
								<img src="assets/production-image.png" class="production-image" id="production-image" alt="production">
							</div>
							<div id="info-production-process">
								<p class="info-text">The olives are gathered from chosen branches of the trees through traditional hand pole beating and mechanised vibration, all the production is bottled and packaged in the same mill.</p>
								<a class="read-more" id="read-more-two" href="" onclick="return false;">Read More...</a>
								<img class="production-process-image"
								id="production-process-image" src="assets/production-process.png" alt="productoin-process">
							</div>
						</div>
					</div>
				</div>
				<div id="quality" class="info-boxes">
					<div class="circle"></div>
					<div class="quality-info box arrow-left">
						<div class="head">
							<p class="box-title">Quality</p>
							<button class="quality-btn arrow-button"><i class="fas fa-angle-down"></i></button>
						</div>
						<div class="info-box" style="display: none;" id="three">
							<hr>
							<button id="organic-production-button" class="info-buttons organic-production active" disabled>Organinc Production</button>
							<button id="analytical-data-button" class="info-buttons analytical-data">Analytical Data</button>
							<button id="certified-quality-button" class="info-buttons certified-quality">Certified Quality</button>
							<div id="info-organic-production">
								<p class="info-text">Produced under the Organic Agriculture certificate using exclusively organic fertilizers and minimum tillage to respect, to the maximum, the flora and fauna of the tree's soil and the Environment. <br><br>
								100% Organic Extra Virgin Olive Oil (Olive Juice) with CAAE ECOLOGICAL CERTIFICATE and ES-ECO-001-AN EU AGRICULTURE seal</p>
								<img src="assets/certified.png" style="width:100%" alt="certified">
							</div>
							<div id="info-analytical-data" style="display: none;">
								<p class="info-text">Acidity is the basic and simplest indicator of the quality of virgin olive oil. Don Lope Olive oil has a top value in this quality parameter 0.2%. 
								Virgin olive oils must not exceed an acidity value of 2%. The limit for extra virgin olive oils is 0.8%
								</p>
								<ul class="info-text">
									Technical data:
									<li class="info-text">Acidity: Under 0,4%</li>
									<li class="info-text">Peroxide index: 3,25 /o2</li>
									<li class="info-text">K232: 1,66</li>
									<li class="info-text">K270: 0,13</li>
								</ul>
								<a class="read-more" id="read-more-three" href="" onclick="return false;">Read More...</a>
								<img  id="analytical-data-image" src="assets/analytical-data.png" style="width: 100%;" alt="analytical-data">
							</div>
							<div id="info-certified-quality" style="display: none;">
								<p class="info-text">Quality certified by an independent laboratory for reference.
								</p>
								<img  id="certified-by-lab-image" src="assets/certified-by-lab.png" style="width: 100%;" alt="certified-by-lab">
							</div>
						</div>
					</div>
				</div>
				<div id="transparency" class="info-boxes">
					<div class="circle"></div>
					<div class="transparency-info box arrow-left">
						<div class="head">
							<p class="box-title">Transparency</p>
							<button class="transparency-btn arrow-button"><i class="fas fa-angle-down"></i></button>
						</div>
						<div class="info-box" style="display: none;" id="four">
							<hr>
							<button id="transparency-button" class="info-buttons transparency active" disabled>Transparency</button>
							<button id="eu-comparison-button" class="info-buttons eu-comparison">EU Comparison</button>
							<div id="info-transparency">
								<p class="info-text">100% Extra virgin olive oil from the mill, which is where it was produced and shipped to you directly without any middlemen. Certified packaging & quality - Spain to Slovakia. <br><br> Fully transparent information shared on the entire process from the olive tree to the table; therefore, we share the Chemical Analysis Bulletin with an informative tasting carried out by an independent laboratory, where its quality and production process are certified.</p>
								<a class="read-more" id="read-more-four" href="" onclick="return false;">Read More...</a>
								<img src="assets/transparency.png" id="transparency-image" class="transparency-image" alt="">
							</div>
							<div id="info-eu-comparison" style="display: none;">
								<p class="info-text">Refer below to 2021 Harvesting information of Don Lope compared to EU standards.</p>
								<img src="assets/eustandards.png" id="eustandards-image" style="width: 100%;" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="footer">
			<img class="footer-image" src="assets/footer.png" alt="">
			<p class="copyright">Copyright 2021 All Rights Reserved</p>
		</section>

		<script src="main.js"></script>
	</body>
</html>